
<div class="pure-container" data-effect="pure-effect-scaleRotate">
  <input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left"/>
  <label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left"><span class="g"><h1>Timin-G</h1></span></label>
 
  <nav class="pure-drawer" data-position="left"><!-- ここがドロワーメニュー -->
      <ul id ="gloval1"class="listmenu">
　　　　 <li id = "li" onclick = "soundselect1()">Sound 1</li>
        <li onclick = "soundselect2()">Sound 2</li>
        <li onclick = "soundselect3()">Sound 3</li>
        <li onclick = "soundselect4()">Sound 4</li>
        <li onclick = "soundselect5()">Sound 5※注意</li>
      </ul>
      <a class = "author" href ="https://twitter.com/Exactly_Good?lang=ja" target = "_blank">Created by @Exactly_Good ...</a>
  </nav><!-- ドロワーメニュー  end-->
 
  <div class="pure-pusher-container">
    <div class="pure-pusher">
      <div class="inner">
      <!-- ここがコンテンツ -->
        <div class ="container">
          <div class = "clockflame" id="clock_frame">
            <!-- 日付部分 -->
            <span class = "c-date"id="clock_date"></span>
            <!-- 時刻部分 -->
            <span class = "c-time"id="clock_time"></span>
                        
            <!-- モーダルウィンドウ部分 -->  
            <div class="popupModal1">
              <input type="radio" name="modalPop" id="pop11" />
              <!-- アラーム時刻 -->
                <label for="pop11">
                  <span class = "a-time" id = "alarm_time"><a>NEXT ALARM : </a>00:00</span>
                </label>                
              <input type="radio" name="modalPop" id="pop12" />
                <label for="pop12">CLOSE</label>
              <input type="radio" name="modalPop" id="pop13" />
                <label for="pop13">×</label>
              <div class="modalPopup2">
                <div class="modalPopup3">
                <p class="modalTitle" onclick = "alarmSetting()">アラーム設定</p>
                  <div class = "as" id = "as">
                    <label id = "l-1">
                      <input type="radio" name="alarmselect"
                             class = "alarmradio1" value="as1" 
                             id = "timereport1" onclick = "alarmConfig1()"/>
                             <a id = "t1">毎時0分に設定</a>
                    </label>
                    <label id = "l-2">
                      <input type="radio" name="alarmselect" 
                             class = "alarmradio1" value="as2" 
                             id = "timereport2" onclick = "alarmConfig2()"/>
                             <a id = "t2">3分後に設定</a>
                    </label>
                    <label id = "l-3">
                      <input type="radio" name="alarmselect" 
                             class = "alarmradio1" value="as3" 
                             id = "timereport3" onclick = "alarmConfig3()"/>
                             <a id = "t3">5分後に設定</a>
                    </label>
                    <label id = "l-4">
                      <input type="radio" name="alarmselect" 
                             class = "alarmradio1" value="as4" 
                             id = "timereport4" onclick = "alarmConfig4()"/>
                             <a id = "t4">□時□分に設定</a>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- モーダルウィンドウ部分ここまで -->  
          </div>
        </div>
          <!--アラームのベル部分-->
          <div class = "alarmbotton" id = "alarmbutton">
            <label>
              <input type="checkbox" id="alarmbotton" 
                     class = "alarmbotton1"onclick = "bellColorChange()"/>
                        <span id = "fa" class="fa fa-bell"></span>
            </label>
            <audio id = "sound" src = "/chime13.mp3" ></audio>
          </div>
          <!--アラームのベル部分ここまで-->
          <!--３つの動く白丸部分-->
          <div class="container-2">            
            <div class="page page-2"style = "margin-top:50px;">              
              <ol>
                <li class="circle circle-bordered circle-bordered-one"></li>
                <li class="circle circle-bordered circle-bordered-two"></li>
                <li class="circle circle-bordered circle-bordered-three"></li>
              </ol>
            </div>            
          </div>
          <!--３つの動く白丸部分ここまで-->
        </div>
      </div>
    </div>
  </div>
<div id = "modal2-overlay" onclick = "alarmSettingClear()"></div>
  <div id="modal2-content"><!---->
    <a id = "backmodal" onclick = "alarmSettingClear()">×</a>
    <div id = "amaiji">
	    <p>毎時間鳴らすなら<br>
        <select id = "maiji" onchange ="alarmSetMaiji()">
        <option>00</option><option>01</option><option>02</option><option>03</option>
        <option>04</option><option>05</option><option>06</option><option>07</option><option>08</option>
        <option>09</option><option>10</option><option>11</option><option>12</option>
        <option>13</option><option>14</option><option>15</option><option>16</option>
        <option>17</option><option>18</option><option>19</option><option>20</option>
        <option>21</option><option>22</option><option>23</option><option>24</option>
        <option>25</option><option>26</option><option>27</option><option>28</option>
        <option>29</option><option>30</option><option>31</option><option>32</option>
        <option>33</option><option>34</option><option>35</option><option>36</option>
        <option>37</option><option>38</option><option>39</option><option>40</option>
        <option>41</option><option>42</option><option>43</option><option>44</option>
        <option>45</option><option>46</option><option>47</option><option>48</option>
        <option>49</option><option>50</option><option>51</option><option>52</option>
        <option>53</option><option>54</option><option>55</option><option>56</option>
        <option>57</option><option>58</option><option>59</option>
        </select>分</p>
    </div>
    <div id = "ahour">
      <p>指定時刻に鳴らすなら<br>
        <select id = "alarmhour" onchange ="alarmmezamasiH()">
        <option>0</option><option>1</option><option>2</option><option>3</option>
        <option>4</option><option>5</option><option>6</option><option>7</option>
        <option>8</option><option>9</option><option>10</option><option>11</option>
        <option>12</option><option>13</option><option>14</option><option>15</option>
        <option>16</option><option>17</option><option>18</option><option>19</option>
        <option>20</option><option>21</option><option>22</option><option>23</option>
        </select> : 
        <select id = "alarmminute" onchange ="alarmmezamasiM()">
        <option>00</option><option>01</option><option>02</option><option>03</option>
        <option>04</option><option>05</option><option>06</option><option>07</option><option>08</option>
        <option>09</option><option>10</option><option>11</option><option>12</option>
        <option>13</option><option>14</option><option>15</option><option>16</option>
        <option>17</option><option>18</option><option>19</option><option>20</option>
        <option>21</option><option>22</option><option>23</option><option>24</option>
        <option>25</option><option>26</option><option>27</option><option>28</option>
        <option>29</option><option>30</option><option>31</option><option>32</option>
        <option>33</option><option>34</option><option>35</option><option>36</option>
        <option>37</option><option>38</option><option>39</option><option>40</option>
        <option>41</option><option>42</option><option>43</option><option>44</option>
        <option>45</option><option>46</option><option>47</option><option>48</option>
        <option>49</option><option>50</option><option>51</option><option>52</option>
        <option>53</option><option>54</option><option>55</option><option>56</option>
        <option>57</option><option>58</option><option>59</option>
        </select></p>
    </div>
  </div>


<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>



